[Desktop Entry]
Type=Service
Name=BPG image files
X-KDE-ServiceTypes=ThumbCreator
MimeType=image/bpg;
X-KDE-Library=bpgthumbnailer
CacheThumbnail=true
IgnoreMaximumSize=true
